@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');




body {
    line-height: 1.5;
    font-size: 16px;
    font-family: "Poppins", sans-serif;

}



body h1,h2,h3,h4 {
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
}

body .non-list {
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

body ul {
    margin-left: 250px;
    margin-right: 200px;
}

body ul li {
    margin-bottom: 10px;
}